@import "@/styles/colors.scss";

.masuk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: map-get($schema, primary);
}
