body {
    background-image: url('bg.png');
}

.satu {
    width: 500px;
    height: 500px;
    background-color: rgb(253, 144, 132, 0.5);
    position: relative;
}

.dua {
    width: 250px;
    height: 250px;
    background-color: hsl(195, 53%, 79%);
    position: absolute;
    right: -100px;
    bottom: -100px;
}