.produkDetail {
  width: 25%;
  padding: 10px;
  &__name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
  }
  &__category {
    color: grey;
    margin-top: 5px;
  }
  &__price {
    font-weight: bold;
    margin-top: 10px;
  }
}
